# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
df1 = pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_0.csv", sep=",")
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_1.csv", sep=",")])
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_2.csv", sep=",")])
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_3.csv", sep=",")])
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_4.csv", sep=",")])
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_5.csv", sep=",")])
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_6.csv", sep=",")])
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_7.csv", sep=",")])
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_8.csv", sep=",")])
df1 = pd.concat([df1, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_info_9.csv", sep=",")])

In [3]:
df2 = pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_0.csv", sep=",")
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_1.csv", sep=",")])
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_2.csv", sep=",")])
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_3.csv", sep=",")])
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_4.csv", sep=",")])
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_5.csv", sep=",")])
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_6.csv", sep=",")])
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_7.csv", sep=",")])
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_8.csv", sep=",")])
df2 = pd.concat([df2, pd.read_csv("https://github.com/alekslazar/ml_hw/raw/main/Students_marks_9.csv", sep=",")])

In [4]:
df = pd.merge(df1, df2, on="index", how="outer")
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [5]:
df.drop(columns = ['index'], axis = 1, inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [6]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [7]:
df.describe(percentiles=None)

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [8]:
df.isnull().any()

gender                         False
race/ethnicity                 False
parental level of education    False
lunch                          False
test preparation course        False
group                          False
math score                     False
reading score                  False
writing score                  False
dtype: bool

Пропущенных значений нет

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [9]:
print(df['math score'].mean(), df['reading score'].mean(), df['writing score'].mean())

66.089 69.169 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [10]:
print('Математика с курсом', df[df['test preparation course'] == 'completed']['math score'].mean()) 
print('Математика без курса', df[df['test preparation course'] == 'none']['math score'].mean())

Математика с курсом 69.69553072625699
Математика без курса 64.0778816199377

In [11]:
print('Чтение с курсом', df[df['test preparation course'] == 'completed']['reading score'].mean()) 
print('Чтение без курса', df[df['test preparation course'] == 'none']['reading score'].mean())

Чтение с курсом 73.89385474860335
Чтение без курса 66.53426791277259

In [12]:
print('Письмо с курсом', df[df['test preparation course'] == 'completed']['writing score'].mean()) 
print('Письмо без курса', df[df['test preparation course'] == 'none']['writing score'].mean())

Письмо с курсом 74.41899441340782
Письмо без курса 64.50467289719626

У студентов, проходивших курс, средний балл заметно выше

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [13]:
print(*set(df['lunch']))

free/reduced standard

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [14]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [15]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [16]:
print('доля студентов, сдавших экзамен по математике равна:')
print(df[df['math score'] >= passmark].shape[0] / df.shape[0])

доля студентов, сдавших экзамен по математике равна:
0.865

In [17]:
print('доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике равна:')
print(df[(df['test preparation'] == 'completed') & (df['math score'] >= passmark)].shape[0] / df[df['test preparation'] == 'completed'].shape[0])

доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике равна:
0.9217877094972067

In [18]:
print('доля женщин, не проходивших курс подготовки к экзамену и не сдавших экзамен по математике равна:') 
print(df[(df['gender'] == 'female') & (df['test preparation'] == 'none') & (df['math score'] < passmark)].shape[0] / df[(df['gender'] == 'female') & (df['test preparation'] == 'none')].shape[0])

доля женщин, не проходивших курс подготовки к экзамену и не сдавших экзамен по математике равна:
0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [19]:
%%time
ethn = df.groupby(by='race/ethnicity')
ethn['reading score'].mean()

Wall time: 3.26 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [20]:
%%time
edu = df.groupby(by='education')
edu['writing score'].min()

Wall time: 4.01 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [21]:
%%time
for ethnicity in sorted(set(df['race/ethnicity'])):
    print(sum(df[df['race/ethnicity'] == ethnicity]['reading score']) / len(df[df['race/ethnicity'] == ethnicity]))

64.67415730337079
67.35263157894737
69.10344827586206
70.03053435114504
73.02857142857142
Wall time: 19.2 ms

In [22]:
%%time
for ed in sorted(set(df['education'])):
    print(min(df[df['education'] == ed]['writing score']))

35
38
15
46
19
10
Wall time: 15.5 ms

При использовании циклов время выполнения в несколько раз больше

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [23]:
grouped = pd.pivot_table(df, index=['gender','education'], values=['math score', 'reading score', 'writing score'], aggfunc='mean')
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [24]:
def fun(score):
    return 'F' * (score < passmark) + 'P' * (score >= passmark)
df['Math_PassStatus'] = df['math score'].apply(fun)
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P
1,female,group C,some college,standard,completed,group1,69,90,88,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F
4,male,group C,some college,standard,none,group1,76,78,75,P

In [25]:
print('Сдавших экзамен по математике:', df[df['Math_PassStatus'] == 'P'].shape[0]) 
print('Не сдавших экзамен по математике:', df[df['Math_PassStatus'] == 'F'].shape[0])

Сдавших экзамен по математике: 865
Не сдавших экзамен по математике: 135

In [26]:
df['Reading_PassStatus'] = df['reading score'].apply(fun)
df['Writing_PassStatus'] = df['writing score'].apply(fun)
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P

In [27]:
print('Сдавших экзамен по чтению:', df[df['Reading_PassStatus'] == 'P'].shape[0]) 
print('Не сдавших экзамен по чтению:', df[df['Reading_PassStatus'] == 'F'].shape[0])
print('Сдавших экзамен по письму:', df[df['Writing_PassStatus'] == 'P'].shape[0]) 
print('Не сдавших экзамен по письму:', df[df['Writing_PassStatus'] == 'F'].shape[0])

Сдавших экзамен по чтению: 910
Не сдавших экзамен по чтению: 90
Сдавших экзамен по письму: 886
Не сдавших экзамен по письму: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [28]:
def func(scores):
    return 'F'*(min(scores) < passmark) + 'P' * (min(scores) >= passmark)
df['OverAll_PassStatus'] = df[['math score', 'reading score', 'writing score']].apply(func, axis=1)
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

In [29]:
print('Сдавших все экзамены:', df[df['OverAll_PassStatus'] == 'P'].shape[0])

Сдавших все экзамены: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [30]:
def GetGrade(average_mark):
    return 'A' * (average_mark > 90) + 'B' * (80 <= average_mark <= 90) + 'C' * (70 <= average_mark < 80) + 'D' * (60 <= average_mark < 70) + 'E' * (50 <= average_mark < 60) + 'F' * (average_mark < 50)

df['Grade'] = df[['math score', 'reading score', 'writing score']].apply(lambda x: sum(x) / 3, axis=1).apply(GetGrade)
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C

In [31]:
df['Grade'].value_counts()

C    261
D    256
E    182
B    148
F    103
A     50
Name: Grade, dtype: int64